* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
  background-image: linear-gradient(
    134.6deg,
    rgba(201, 37, 107, 1) 15.4%,
    rgba(116, 16, 124, 1) 74.7%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100vh;
  margin: auto;
}
.digitalClock {
  display: flex;
  width: fit-content;
  margin: auto;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #fff;
  transition: 0.3s ease;
}
#second {
  animation: animate 0.3s infinite;
}
@keyframes animate {
  0% {
    color: rgb(255, 0, 200);
  }
  50% {
    color: bisque;
  }
}
.digitalClock h1 {
  margin: 0 10px;
  font-weight: bold;
  font-size: 5rem;
}
#bar1,
#bar2 {
  margin: auto;
}

@media screen and (max-width: 768px) {
  #bar1,
  #bar2 {
    display: none;
  }
  .digitalClock {
    text-align: center;
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .digitalClock {
    display: block;
  }
  .digitalClock h1 {
    font-size: 4rem;
  }
}
